<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
     {{>header}}
    <div class="main-content">
        <h1>{{errorMsg}}</h1>
    </div>

    {{>footer}}
</body>

</html>